@import "reset";
@import "bourbon";
@import "variables";
@import "snake";

html, body { height: 100%; }

.container { height: 100%; padding: 10px; }

body {
  background-color: $background-color-secondary;
  font-family: "Arvo", serif;
}

header {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  // animation-name: resize;
  // animation-duration: 30s;
  // animation-iteration-count: infinite;
  // animation-timing-function: linear;

  border: 1px solid white;
  color: white;
  font-weight: 400;

  h1, h2 {
    display: inline-block;
    margin: auto;
    text-transform: uppercase;
  }

  h1 { font-size: 34px; letter-spacing: 3px; }
  h2 { font-size: 26px; letter-spacing: 1px; }

  .content-wrapper {
    display:block;
    text-align: center;

    p { padding: 40px; }

    span {
      display: block;
      text-decoration: none;

      &.pretitle {
        text-transform: uppercase;
        line-height: 24px;

        &.h1 { font-size: 20px; padding-bottom: 40px; }
        &.h2 { font-size: 16px; padding-bottom: 26px; }
      }
    }

    .outer-separator {
      display: block;
      padding: 50px 0;
      margin: auto;

      stroke-dasharray: 450;
      stroke-dashoffset: 450;
      animation: dash 5s ease-in-out forwards;

      &.bottom {
        transform: rotate(180deg);
      }
    }

    .separator {
      @include size(100px 1px);
      background-color: white;
      display: block;
      margin: 40px auto;
    }
  }

  .contact {
    display: block;
    position: absolute;
    bottom: -6px;
    left: 50%;
    font-size: 13px;
    text-align: center;
    width: 230px;
    margin-left: -115px;
    background-color: $background-color-secondary;
    color: white;
    text-decoration: none;
  }
}

@keyframes resize {
  0%   { background-color: red; }
  25%  { background-color: blue; }
  50%  { background-color: green; }
  75%  { background-color: yellow; }
  100% { background-color: red; }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
