@import "reset";
@import "bourbon";
@import "variables";
@import "snake";

html, body { height: 100%; }

.container { height: 100%; padding: 10px; }

body {
  background-color: $background-color-secondary;
  font-family: "Arvo", serif;
}

#line-1, #line-2, #line-3, #line-4 {
  opacity: 0;
  animation: titleanimation $initial-animation-duration ease-in-out forwards;
}

#line-1 { @include transform(translate(0px,  120px)); };
#line-2 { @include transform(translate(0px,  46px)); };
#line-3 { @include transform(translate(0px, -46px)); };
#line-4 { @include transform(translate(0px, -92px)); };

header {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid white;
  color: white;
  font-weight: 400;

  h1, h2 {
    display: inline-block;
    margin: auto;
    text-transform: uppercase;
  }

  h1 { font-size: 34px; letter-spacing: 3px; }
  h2 { font-size: 26px; letter-spacing: 1px; }

  svg {
    @include transition(all 1s ease-in-out);
    stroke: white;
  }

  &.darken .content-wrapper {
    @include transform(scale(0.95));
    color: shade($background-color-secondary, 15%);

    svg { stroke: shade($background-color-secondary, 15%); }
  }

  .content-wrapper {
    @include transition(all 1s ease-in-out);
    display:block;
    text-align: center;

    p { padding: 40px; }

    span {
      display: block;
      text-decoration: none;

      &.pretitle {
        text-transform: uppercase;
        line-height: 24px;

        &.h1 { font-size: 20px; padding-bottom: 40px; }
        &.h2 { font-size: 16px; padding-bottom: 26px; }
      }
    }

    .outer-separator {
      display: block;
      padding: 50px 0;
      margin: auto;

      stroke-dasharray: 450;
      stroke-dashoffset: 450;
      animation: dash $initial-animation-duration ease-in-out forwards;

      &.bottom {
        transform: rotate(180deg);
      }
    }

    .separator {
      display: block;
      margin: 40px auto;

      stroke-dasharray: 0, 100;
      stroke-dashoffset: 50;
      animation: dash2 $initial-animation-duration ease-in-out forwards;
    }
  }

  .contact {
    display: block;
    position: absolute;
    bottom: -6px;
    left: 50%;
    font-size: 13px;
    text-align: center;
    width: 230px;
    margin-left: -115px;
    background-color: $background-color-secondary;
    color: white;
    text-decoration: none;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash2 {
  to {
    stroke-dashoffset: 100;
    stroke-dasharray: 100, 0;
  }
}

@keyframes titleanimation {
  to {
    @include transform(translate(0px, 0px));
    opacity: 1;
  }
}
