@import "reset";
@import "bourbon";
@import "variables";
@import "snake";

html, body { height: 100%; }

.container { height: 100%; padding: 10px; }

body {
  background-color: $background-color;
  font-family: "Josefin Slab", serif;
}

#line-1, #line-2, #line-3, #line-4 {
  opacity: 0;
  animation: title $initial-animation-duration ease-in-out forwards;
}

#line-1 { @include transform(translate(0px,  120px)); };
#line-2 { @include transform(translate(0px,  46px)); };
#line-3 { @include transform(translate(0px, -46px)); };
#line-4 { @include transform(translate(0px, -92px)); };

header {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid white;
  color: white;
  font-weight: 400;

  h1, h2 {
    display: inline-block;
    margin: auto;
    text-transform: uppercase;
    font-weight: 400;
  }

  h1 { font-size: 34px; letter-spacing: 3px; }
  h2 { font-size: 26px; letter-spacing: 1px; }

  svg {
    @include transition(all 1s ease-in-out);
    stroke: white;
  }

  &.darken .content-wrapper {
    @include transform(scale(0.95));
    color: $background-color-darker;

    svg { stroke: $background-color-darker; }
  }

  .content-wrapper {
    @include transition(all 1s ease-in-out);
    display:block;
    text-align: center;

    p { padding: 40px; }

    span {
      display: block;
      text-decoration: none;
      font-weight: 100;

      &.pretitle {
        text-transform: uppercase;
        line-height: 24px;

        &.h1 { font-size: 20px; padding-bottom: 40px; }
        &.h2 { font-size: 16px; padding-bottom: 26px; }
      }
    }

    .outer-separator {
      @include animation(dash-outer-separator $initial-animation-duration ease-in-out forwards);
      display: block;
      margin: 50px auto;
      stroke-dasharray: 450;
      stroke-dashoffset: 450;

      &.bottom {
        transform: rotate(180deg);
      }
    }

    .separator {
      @include animation(dash-separator $initial-animation-duration ease-in-out forwards);
      display: block;
      margin: 40px auto;
      stroke-dasharray: 0, 100;
      stroke-dashoffset: 50;
    }
  }

  .social {
    display: block;
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 220px;
    margin-left: -110px;
    color: white;
    text-decoration: none;
    font-weight: 100;

    li {
      display: inline-block;
      height: 30px;
      width: 30px;
      margin: 0 20px;
    }

    a {
      @include retina-image("../images/social", 90px 60px);
      display: block;
      height: 30px;
      width: 30px;
      background-repeat: no-repeat;
      opacity: 0;
    }

    .twitter {
      @include animation(social-left .5s ease-out forwards);
      @include animation-delay($initial-animation-duration);
      background-position: 0px -30px;
    }
    .github  {
      @include animation(social-center .5s ease-out forwards);
      @include animation-delay($initial-animation-duration);
      background-position: -30px -30px;
    }
    .contact {
      @include animation(social-right .5s ease-out forwards);
      @include animation-delay($initial-animation-duration);
      background-position: -60px -30px;
    }

    .twitter:hover { background-position:  0px  0px; }
    .github:hover  { background-position: -30px 0px; }
    .contact:hover { background-position: -60px 0px; }
  }

  .keys {
    @include animation(start-text 2s linear infinite);
    position: absolute;
    right: 10px;
    bottom: 6px;

    svg { stroke: white; fill: white; }
  }
}

.hide {
  @include animation(hide 1s linear forwards);
}

@keyframes dash-outer-separator {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash-separator {
  to {
    stroke-dashoffset: 100;
    stroke-dasharray: 100, 0;
  }
}

@keyframes title {
  to {
    @include transform(translate(0px, 0px));
    opacity: 1;
  }
}

@keyframes start-text {
  0%   { opacity: 0.1; }
  50%  { opacity: 1; }
  100% { opacity: 0.1; }
}

@keyframes hide {
  to { opacity: 0; }
}

@keyframes social-left {
  from {
    @include transform(translate(40px, -20px) scale(0.8));
    opacity: 0;
  }

  to {
    @include transform(translate(0px, 0px) scale(1));
    opacity: 1;
  }
}

@keyframes social-center {
  from {
    @include transform(translate(0px, -20px) scale(0.8));
    opacity: 0;
  }

  to {
    @include transform(translate(0px, 0px) scale(1));
    opacity: 1;
  }
}

@keyframes social-right {
  from {
    @include transform(translate(-40px, -20px) scale(0.8));
    opacity: 0;
  }

  to {
    @include transform(translate(0px, 0px) scale(1));
    opacity: 1;
  }
}
